body{
	background: rgba(0,0,0,0.2);
	margin:0px;
	padding:0px;
}

input:focus{
	outline: none;
}
#all_contents{
	width: 1300px;
	height: 610px;
	background-color: white;
	margin:0px auto;
	margin-top: 10px;
	box-shadow: 0 0 50px black;
	overflow-y: scroll;
}

#top_contain{
	width: 300px;
	height: 60px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 30px;
	margin-left: 10px;
	background-color: rgba(0,0,0,0.1);
}

#top_contain div a{
	text-decoration: none;
	color:#76A446;
}
#top_contain div a:focus{
	outline: none;
}

#top_contain img{
	background-color: black;
	border-radius: 100px;
}
#under_line{
	width: 320px;
	overflow-y:scroll;
	height: 300px;
	background-color: rgba(0,0,0,0.3);
	margin-left: 10px;
}
button{
	width: 80px;
	height: 25px;
	background-color: white;
	color:#76A446;
	font-size: 15px;
	border:0px;
	cursor: pointer;
	margin-top:5px;
}

#new_add_files{
	margin-top: 10px;
	margin-left: 10px;
}

.file_style{
	width: 140px;
	border:2px inset #C7BFBF;
}

#saving_button{
	width: 45px;
	height: 20px;
}

#delete_button{
	width: 55px;
	height: 20px;
	margin-right: 5px;
	margin-left: 10px;
}
.files_info{
	background-color: white;
	color:rgb(0,105,100);
	border:2px outset white;
	margin-left: 1px;
	font-weight: bolder;
	padding:4px;
	cursor:pointer;
}

.files_info:hover{
	border:1px inset white;
}
.files_info:focus{
	outline: none;
}

#code_contents{
	width: 905px;
	padding-bottom: 100px;
	background-color: rgba(40,40,30,0.6);
	float:right;
	margin-top: -370px;
	margin-right: 20px;
}

#theme_line{
	color:white;
	font-size: 20px;
}
.text_line_files{
	width: 870px;
	margin-top: 10px;
	margin-left: 15px;
	height: 300px;
	padding-bottom:50px;
	background-color:rgba(126,3,36,0.8);
	font-size:14px;
	color:yellow;
}

#opacity_all{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.889);
	position: fixed;
	display: none;
	margin-top:-10px;
}

#center_in{
	width: 350px;
	height: 250px;
	margin: 0px auto;
	background-color: white;
	margin-top: 140px;
	text-align: center;
}
#center_in input[type='text']{
	width: 240px;
	height: 20px;
	text-align: center;
	font-size: 14px;
}
#center_in p{
	font-size: 20px;
}

#theme_change{
	text-align: center;
	font-weight: bolder;
}

.fircalar{
	width: 600px;
	padding-bottom: 20px;
	background-color: rgba(191,185,192,0.9);
	margin-left: 130px;
	margin-top: 30px;
	padding:10px;
}
.code_firci{
	margin-left: 50px;
	width: 520px;
	padding:5px;
	height: 150px;
}
.name_click{
	color:green;
	text-decoration: none;
}
.name_click:focus{
	outline: none;
}
#user_info{
	width: 850px;
	height: 150px;
	background-color: ;
	margin-left: 30px;
	margin-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-bottom:2px ridge yellow;
}

#mainka{
	margin-top: -140px;
	margin-left: 170px;
	color:white;
	width: 290px;
	font-size: 20px;
	text-align: center;
}
#choice_aa{
	margin-left: 0px;
	margin-top: 0px;
}
#messages{
	width: 820px;
	padding:20px;
	padding-bottom: 50px;
	border-radius: 10px;
	background-color: rgba(200,200,200,0.9);
	margin-left: 20px;
	margin-top: 10px;
}

.choose_one{
	margin-left: 2px;
	background-color: white;
	color:rgb(50,130,50);
	font-weight: bolder;
	border:2px outset white;
}
.bool_am{
	color:rgb(209,253,243);
	font-size: 20px;
	font-weight: bolder;
}
#message_all{
	width: 265px;
	height: 353px;
	background-color: white;
	margin-left: 630px;
	margin-top: -358px;
	display: none;
	overflow-y: scroll;
}
#write_line{
	width: 180px;
	margin-left:10px;
	margin-top:5px;
}
#write_line:focus{
	outline: none;
}
.mess_info{
	font-size: 14px;
	width:130px;
	float:left;
	text-align: center;
	color:white;
	margin:10px 2px 0px 2px;
	background-color: rgba(148,66,66,0.89);
}
#text_theme{
	width: 240px;
	padding:5px;
	color:#42747A;
	font-size: 16px;
	font-weight: bolder;
}