body{
	background-color: rgba(124,123,190,0.5);
	margin:0px;
	padding:0px;
}

.error_mistake{
	margin-left: 5px;
	font-size: 17px;
	font-family: Arial;
	color:red;
	font-weight: bolder;
}

#change_sex{
	background-color: black;
	width: 60px;
	height: 30px;
	padding: 0px;
	border-radius: 20px;
}

#change_sex:hover{
	cursor: pointer;
}

#cursor_sex{
	width: 30px;
	height: 30px;
	border-radius: 23px;
	background-color: white;
}

#sex_real{
	width: 70px;
	height: 100px;
}

.picture_line{
	text-align: center;
}

#male_sex{
	background-color: yellow;
}

.picture_line img{
	border-radius:10px;
}